#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


.animation{
  animation: pop linear .4s;
}

@keyframes pop{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}